$dark-blue: #0d28a6;
$soft-blue: #cfd4ed;
$white-neutral: #ffffff;
$bg-white: #f1f3ff;
$lime-green: #5cb85f;
$black-neutral: #000000;
$black-soft: #222222;
$warning: #f9cc00;
$danger: #fa2c5a;
$grey-neutral: #d0d0d0;
