#started {
  margin-top: 6.51rem;

  .container {
    .started {
      &__wrapper {
        text-align: center;
        background: $dark-blue;
        padding: 4rem;
        border-radius: 0.8125rem;

        h1 {
          font-size: 2rem;
          color: $white-neutral;
          font-weight: 600;
          line-height: 3rem;
        }

        p {
          color: $white-neutral;
          line-height: 1.825rem;
          margin: 1rem auto 3.25rem auto;
          font-weight: 300;
          // font-size: 0.825rem;

          @include large {
            width: 50%;
          }
        }

        a {
          @include button-basic;
        }
      }
    }
  }
}
